{% if session.user_id %}
<p>Olet kirjautunut nimellä: {{ username }}</p> <br>
<a href="/logout">Kirjaudu ulos</a> <br>
<a href="/chain/{{ chain_id }}">takaisin keskusteluun </a> <br>
<p>Lähettäjä {{ sender.username }}</p> <br>
<p> {{ content.content }}</p> <br>

<form action="/edit_message" method="post">
    muokattu viesti : 
        <textarea name="new_content" rows="5" cols="40" required minlength="1" maxlength="128">
</textarea>
        <input type="submit" value="muokkaa viestiä">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<form action="/delete_message" method="post">
    <input type="submit" value="poista viesti">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form> <br>
<hr>{% else %}
<p> Et ole kirjautunyt sisään! Kirjaudu sisään voidaksesi nähdä tämän sivun.</p>
<a href="/login">Kirjaudu sisään</a>
<a href="/register">Rekisteröidy</a>

{% endif %}