{% if session.user_id %}
<p>Olet kirjautunut nimellä: {{ username }}</p>
<a href="/logout">Kirjaudu ulos</a> <br>
<a href="/">takaisin  </a> <br>
{{  topic_name  }} <br>
<hr>
{% for chain in chains%}
{{chain.chain_name}} <br>
{{chain.chain_message}} <br>
<a href="/chain/{{ chain.id }}">Mene ketjuun</a> <hr>
{% endfor %}
<br>
<form action="/delete_topic" method="post">
    <input type="submit" value="poista keskustelualue">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form> <br>
<p>Luo uusi ketu</p> <br>
<form action="/create_chain" method="POST">
    otsikko : <input type="text" name="chain_name" required minlength="1" maxlength="32"> <br> 
    viesti:
    <textarea name="chain_message" rows="5" cols="40" required minlength="1" maxlength="128">
</textarea>
        <input type="submit" value="luo ketju">
        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>

<hr>{% else %}
<p> Et ole kirjautunyt sisään! Kirjaudu sisään voidaksesi nähdä tämän sivun.</p>
<a href="/login">Kirjaudu sisään</a>
<a href="/register">Rekisteröidy</a>

{% endif %}